{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before submitting
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Access to eligible parking"
            },
            value: {
              text: data['adequate-parking']
            },
            actions: {
              items: [
                {
                  href: "/Check-eligible-path/is-parking-eligible",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Vehicle registration"
            },
            value: {
              text: data['user-vrn']
            },
            actions: {
              items: [
                {
                  href: "/Check-eligible-path/is-vrn-EV",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              text: data['addressDropdown']
            },
            actions: {
              items: [
                {
                  href: "/Check-eligible-path/is-address-eligible",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/Check-eligible-path/Confirmation-pages/eligible" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
