{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% from "govuk/components/table/macro.njk" import govukTable %}

  {{ govukTable({
    caption: "Are these vehicle details correct?",
    captionClasses: "govuk-table__caption--m",
    id: "vrn-table",
    rows: [
      [
        {
          text: "VRN"
        },
        {
          id: "vehicle-vrn"
        }
      ],
      [
        {
          text: "Make"
        },
        {
          id: "vehicle-make"
        }
      ],
      [
        {
          text: "Model"
        },
        {
          id: "vehicle-model"
        }
      ],
      [
        {
          text: "Fuel Type"
        },
        {
          id: "vehicle-fuel-type"
        }
      ]
    ]
  }) }}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "vrn-correct",
    id: "vrn-correct",
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

  <form action="/confirmation" id="vrncheck" method="post" novalidate>

    {{ govukButton({
      text: "Confirm"
    }) }}

  </form>

{% endblock %}
{% block pageScripts %}
<script src="/public/javascripts/vrncheck.js"></script>
{% endblock %}