{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter postcode
      </h1>

      <form class="form" action="/Check-eligible-path/find-eligible-address" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "Enter the postcode the charger will be installed"
          },
          id: "user-postcode",
          name: "user-postcode",
          value: data['user-postcode']
        }) }}

        {{ govukButton({
          text: "Find Address"
        }) }}

        <p class="govuk-body">
          <a href="/Check-eligible-path/enter-address-manually.html" class="govuk-link">Enter address manually</a>.
        </p>
        

      </form>

    </div>
  </div>

{% endblock %}
