{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter postcode
      </h1>

      <form class="form" id="address_form" action="/Check-eligible-path/check-eligible-answers" method="post" onsubmit="setAddress()">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">Postcode</label>
          {{ govukInput({
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "addressPostcode",
            autocomplete: "postal-code"
          }) }}
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-dropdown">Select your address</label>
          <select class="govuk-select" id="address-dropdown" name="addressDropdown">
            <option value="">Select an address</option>
          </select>
        </div>

        {{ govukButton({
          text: "Continue",
          attributes: { id: "continue-button" }
        }) }}

        <p class="govuk-body">
          <a href="/Check-eligible-path/enter-address-manually.html" class="govuk-link">Enter address manually</a>.
        </p>
        <!-- Hidden input field to store the selected address -->
        <input type="hidden" id="addressStore" name="addressStore">

      </form>

    </div>
  </div>
  <script>
    function setAddress() {
      const address = document.getElementById('address-dropdown')
      document.getElementById('addressStore').value = address.value;
    }
  </script>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/addresslookup.js"></script>
<script src="/public/javascripts/addresscheck.js"></script>
{% endblock %}