{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/Check-eligible-path/is-vrn-EV" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukRadios({
        name: "adequate-parking",
        id: "adequate-parking",
        value: data["adequate-parking"],
        fieldset: {
          legend: {
            text: "Do you meet the adequate-on-street parking criteria?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text:"Street parking must be generally available outside or near your home.
          This on-street parking must be legal and not disrupt the safety or flow for vehicles 
          or pedestrians."}
        ,
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}