{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['user-name']
            },
            actions: {
              items: [
                {
                  href: "/Submission-path/enter-details",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Email Address"
            },
            value: {
              text: data['user-email']
            },
            actions: {
              items: [
                {
                  href: "/Submission-path/enter-details",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              text: data['selected-address']
            },
            actions: {
              items: [
                {
                  href: "/Check-eligible-path/is-address-eligible",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Vehicle Registration Number"
            },
            value: {
              text: data['user-vrn']
            },
            actions: {
              items: [
                {
                  href: "/Check-eligible-path/is-vrn-EV",
                  text: "Change"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/Submission-path/application-submitted" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
{% block pageScripts %}
<script>
  // On page load, set the value from localStorage to the element with ID 'address'
  window.addEventListener('load', function () {
    var address = localStorage.getItem('address'); // Get the stored address value
    const vehicleVRN = localStorage.getItem('vehicleVRN');
    if (address) {
      // Find the element with ID 'address' and set its text
      var addressElement = document.querySelectorAll('.govuk-summary-list__value')[2];  // Select the first value element
      if (addressElement) {
        addressElement.textContent = address;
      }
    }
    if (vehicleVRN) {
      // Find the element with ID 'address' and set its text
      var vrnElement = document.querySelectorAll('.govuk-summary-list__value')[3];  // Select the first value element
      if (vrnElement) {
        vrnElement.textContent = vehicleVRN;
      }
    }
  });
</script>
{% endblock %}

